.body-container {
  background-color: #212121;
}

.app-container {
  min-width: 900px;
  max-width: 900px;
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #f5f5f5;
}

.title-captions-container {
  flex-grow: 1;
  margin-left: 15px;
}

.main-title-caption {
  margin: 0;
}

.sub-title-caption {
  margin-left: 5px;
  color: #878787;
}

.header-caption {
  color: #f5f5f5;
}

.section-container {
  width: 100%;
  color: #f5f5f5;
  margin-bottom: 30px;
}

.screenshots-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-icons-section-container {
  display: flex;
  justify-content: center;
}

.contact-icon {
  margin-right: 10px;
}
